body {
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin: 0;
}
#menu {
    background-color: #222;
    text-align: center;
    height: 80px;
    margin-top: 0;
}
#menu .menu-item{
    display: inline-block;
    padding-top: 30px;
    margin-left: 50px;
    margin: 0
}
a {
    text-decoration: none;
    color: #fff;
}

#header {
    text-align: center;
}
img{
    width: 100%;
}
#main-header-text {
    position: absolute;
    top: 50%;
    color: #fff;
    text-transform: uppercase;
}

h1 {
    left: 0;
    right: 0;
    font-size: 3em;
    
}
footer {
    background-color: #222;
    height: 220px;
}
#contact {
    color: #fff;
}